{% extends 'uploadapp/base.html' %}

{% block content %}
<!--    <ol class="breadcrumb mb-4">-->
<!--        <li class="breadcrumb-item active">Approve Task</li>-->
<!--    </ol>-->
                <br><br><br>

<!--            <div class="container">-->
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <h2>Send SMS</h2>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_phone" class="form-label">Please use 12 Digits phone number starting with the country code 231</label><br>
                                <label for="id_phone" class="form-label">Phone number</label>
                                <input type="text" name="phone" id="id_phone" placeholder="eg:231778231304"> <br><br>
<!--                                <button type="submit">Send Test SMS</button> <br>-->

                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button type="submit" class="btn btn-secondary btn-lg">Send Test SMS</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
<!--            </div>-->

{% endblock %}